.sconf_temp
.sconsign.dblite
config.log
doc/htmlDir
*.dylib
*.o
*.os
*.pyc
*.so
examples/demangle
python/lsst/utils/utilsLib.py
python/lsst/utils/utilsLib_wrap.*
python/lsst/utils/version.py
tests/.tests
tests/ieee
ups/*.cfgc
